






    
    
    
    
<div class="box">
  <img src="{{url}}" alt="artist-pic">
  <div class="view-albums">
    <h3>{{artist.name}}</h3>
    <br>
    <button class="btn btn-danger">View Albums</button>
  </div>
</div>
