




    <!-- JUMBOTRON -->
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Search For Music</h1>

       <div class="search">

         <form action="/search" method="POST">

            <ul>
              <input type="text" name="artist" placeholder="Search For an Artist!" class="input">
              <br>
              <button class="btn btn-danger"  >Search For an Artist</button>
            </ul>
       
         </form>

       </div>

      </div>
    </div>